@page "/"
@attribute [Authorize]
@inject FiltrosState filtroState;
<PageTitle>Index</PageTitle>
<Card>
    <Header>
        Usuario
    </Header>
    <Body>
        <LoginDisplay />

    </Body>

</Card>

<CascadingValue Value="filtroState.Nombre">
    <NombreEditor />
    <NombreVisor />
</CascadingValue>
@code {
    
}
