@page "/"
@attribute [Authorize]

<PageTitle>Index</PageTitle>
<Card>
    <Header>
        Usuario
    </Header>
    <Body>
        <LoginDisplay />

    </Body>

</Card>

<a href="Resultados/Registrar">Registrar Resultados</a>