@page "/"
@attribute [Authorize]

@using Elecciones.Client.Pages.Resultados

<PageTitle>Inicio</PageTitle>
<div class="mb-2">

    <Card>
        <Header>
            <h4>Usuario</h4>
        </Header>
        <Body>
            <div class="d-flex align-items-center justify-content-around">
                <LoginDisplay />             
            </div>
        </Body>

    </Card>
</div>
<Consolidado />

@inject StorageConfig _storageConfig
@code {
    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();
    }
}