@inherits LayoutComponentBase
<PageTitle>CuentaVotos</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row mt-xs-5">
            <LoginDisplay />
        </div>

        <article class="my-3 px-0">
            @Body
        </article>
    </main>
</div>
<ToastContainer />
