@page "/Account/Register"
@using CuentaVotos.Core.Account;
@inject UserRegisterModel Model

<EditForm Model="Model" OnSubmit="Add">
    <input type="text" class="form-control" placeholder="Usuario" @bind="Model.User.Email" />
    <input type="password" class="form-control" placeholder="Usuario" @bind="Model.User.PasswordHash" />
    <input type="text" class="form-control" placeholder="Nombres" @bind="Model.User.FirstName" />
    <input type="text" class="form-control" placeholder="Apellidos" @bind="Model.User.LastName" />
    <input type="text" class="form-control" placeholder="Direccion" @bind="Model.User.Addres" />
    <button type="submit" class="btn btn-primary">Registrar</button>
    <div class="alert alert-info">
        <p>@Model.RegisterMessage</p>
    </div>
</EditForm>

<Users @ref="users" />

@code {
    Users users;

    public void Add()
    {
        Model.Register();
        users.Load();
    }
  
}
